In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
education_districtwise = pd.read_csv("education_districtwise.csv")

In [4]:
education_districtwise.head(10)

,AC_YEAR,STATCD,DISTCD,STATNAME,DISTNAME,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,...,UUNI_ALL,UUNI_SC,UUNI_ST,TOTCLS1G,TOTCLS2G,TOTCLS3G,TOTCLS4G,TOTCLS5G,TOTCLS6G,TOTCLS7G
0,2015-16,1,101,JAMMU & KASHMIR,KUPWARA,1,13,391,104,875564.0,...,21322,26,2594,3489,5315,27,62,23,852,239
1,2015-16,1,102,JAMMU & KASHMIR,BARAMULA,1,18,678,144,1015503.0,...,17307,0,1571,4127,5800,210,53,30,1665,360
2,2015-16,1,103,JAMMU & KASHMIR,SRINAGAR,1,8,94,65,1269751.0,...,5444,31,408,817,3284,886,11,0,2873,40
3,2015-16,1,104,JAMMU & KASHMIR,BADGAM,1,13,523,104,735753.0,...,12469,18,857,2290,3837,119,45,8,1035,325
4,2015-16,1,105,JAMMU & KASHMIR,PULWAMA,1,8,359,64,570060.0,...,7408,17,855,1688,2584,151,67,5,1101,209
5,2015-16,1,106,JAMMU & KASHMIR,ANANTNAG,1,12,523,96,1070144.0,...,17771,22,3498,2650,5862,152,60,22,1592,185
6,2015-16,1,107,JAMMU & KASHMIR,LEH (LADAKH),1,6,110,49,147104.0,...,1244,0,889,604,1059,45,9,17,473,0
7,2015-16,1,108,JAMMU & KASHMIR,KARGIL,1,7,134,54,143388.0,...,59,0,59,716,1469,69,26,3,220,99
8,2015-16,1,109,JAMMU & KASHMIR,DODA,1,10,388,80,409576.0,...,14641,2474,2272,2073,2354,165,17,36,766,36
9,2015-16,1,110,JAMMU & KASHMIR,UDHAMPUR,1,11,361,86,555357.0,...,18428,6844,2522,2256,3080,520,13,22,1151,6

In [5]:
education_districtwise.describe()

,STATCD,DISTCD,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,P_URB_POP,POPULATION_0_6,GROWTHRATE,...,UUNI_ALL,UUNI_SC,UUNI_ST,TOTCLS1G,TOTCLS2G,TOTCLS3G,TOTCLS4G,TOTCLS5G,TOTCLS6G,TOTCLS7G
count,680.000000,680.000000,680.0,680.000000,680.000000,680.000000,6.340000e+02,631.000000,6.330000e+02,634.000000,...,680.000000,680.000000,680.000000,680.000000,680.000000,680.000000,680.000000,680.000000,680.000000,680.000000
mean,17.292647,1745.976471,1.0,10.760294,874.614706,121.226471,1.899024e+06,24.819255,2.494264e+05,17.627886,...,46465.307353,11444.252941,5485.394118,4530.914706,3180.994118,764.154412,898.879412,391.352941,717.679412,385.957353
std,9.451743,944.257509,0.0,9.585360,622.711657,94.040172,1.547475e+06,19.093744,1.985112e+05,11.346020,...,57485.560854,16548.586787,9455.045146,3881.154776,3332.333288,1330.305834,1425.313485,820.868908,1194.616699,935.196354
min,1.000000,101.000000,1.0,1.000000,6.000000,1.000000,7.948000e+03,-25.350000,1.103980e+03,-58.390000,...,0.000000,0.000000,0.000000,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,937.750000,1.0,5.000000,390.750000,56.750000,8.226940e+05,11.375000,1.087804e+05,12.052500,...,7534.000000,736.750000,165.250000,1903.750000,674.750000,68.000000,17.000000,17.000000,137.000000,20.750000
50%,18.000000,1823.500000,1.0,8.000000,785.500000,101.000000,1.564392e+06,19.500000,2.040779e+05,17.055000,...,32185.500000,6816.500000,1321.000000,3555.000000,1922.500000,249.500000,129.500000,70.500000,407.000000,115.500000
75%,24.000000,2413.250000,1.0,13.000000,1204.250000,162.500000,2.587520e+06,32.420000,3.378675e+05,22.740000,...,60492.750000,15300.500000,6183.500000,5944.250000,4870.500000,887.750000,1383.000000,462.000000,824.500000,319.500000
max,36.000000,3610.000000,1.0,66.000000,3963.000000,592.000000,1.105413e+07,100.000000,1.256855e+06,111.010000,...,511213.000000,153047.000000,68723.000000,24728.000000,25677.000000,16053.000000,8590.000000,8074.000000,15458.000000,11904.000000

In [6]:
"OVERALL_LI" in education_districtwise.columns

True

In [7]:
education_districtwise['OVERALL_LI'].describe()

count    634.000000
mean      73.395189
std       10.098460
min       37.220000
25%       66.437500
50%       73.490000
75%       80.815000
max       98.760000
Name: OVERALL_LI, dtype: float64

In [9]:
education_districtwise['STATNAME'].describe()

count               680
unique               36
top       UTTAR PRADESH
freq                 75
Name: STATNAME, dtype: object

In [10]:
range_overall_li = education_districtwise['OVERALL_LI'].max()-education_districtwise['OVERALL_LI'].min()
range_overall_li

61.540000000000006